header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: var(--dsct-color-bg-primary);
}

.dsct-header-container h1 {
  font-size: 20px;
  color: var(--dsct-color-font-tertiary);
}

@media (min-width: 768px) {
  .dsct-header-container h1 {
    font-size: 24px;
  }
}
