.dsct-card-comments-container {
  padding-bottom: 25px;
}

.dsct-card-comments-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 960px;
  height: 146px;
  border-radius: 12px;
  padding: 25px 20px;
  border: 1px solid var(--dsct-color-border);
  background-color: var(--dsct-color-bg-secondary);
}

.dsct-card-comments-content p {
  font-size: 16px;
  color: var(--dsct-color-font-secondary);
}

@media (min-width: 768px) {
  .dsct-card-comments-content {
    height: 74px;
  }
}

@media (min-width: 1200px) {
  .dsct-card-comments-content {
    width: 960px;
    align-items: flex-start;
  }
}
