#dsct-catalog-section {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#dsct-catalog-section h2 {
  text-align: center;
  color: var(--dsct-color-font-primary);
  font-size: 20px;
  font-weight: 700;
}

#dsct-catalog-second-section {
  background-color: var(--ct-color-bg-tertiary);
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#dsct-catalog-second-section h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 25px 0;
  text-align: center;
  color: var(--dsct-color-font-primary);
}

@media (min-width: 768px) {
  #dsct-catalog-section h2 {
    font-size: 32px;
  }

  #dsct-catalog-second-section h3 {
    font-size: 32px;
  }
}
